$background-image: '../assets/container-bg.jpg';
$color-highlight-alternative: #2285f7;
$color-white: #FAFAFA;
$color-white-lightest: #FFF;
$eclipse-orange: #f79422;

$header-height: 90px;
$header-padding: 1rem 2rem;
$header-color: $color-white-lightest;
$header-font-family: 'Oswald', 'Roboto', sans-serif;
$header-font-size: 4rem;

$content-padding: 1rem 2rem;
$content-color: $color-white-lightest;
$content-font-size: 2.5rem;

$footer-height: 30px;

@mixin background($overlay-color: rgba(0, 0, 0, 0.6)) {
  position: relative;
  background: black url($background-image) no-repeat;
  background-size: cover;
  &::before {
    z-index: 0;
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $overlay-color;
  }
  & > * {
    position: relative;
    z-index: 1;
  }
}
