@import './variables';

.kubernetes-java-developers-2022-slide {
  @import './fonts';
  $root: &;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
  @include background(rgba(0, 0, 0, 0.85));
  &::before {
    background: radial-gradient(circle, rgba(35, 35, 35, 0.95) 10%, rgba(10, 10, 10, 0.9) 100%);
  }
  & #{$root}__header {
    display: flex;
    align-items: center;
    padding: $header-padding;
    height: $header-height;
    color: $header-color;
    font-family: $header-font-family;
    font-size: $header-font-size;
    background-color: $eclipse-orange;
    .title {
      display: flex;
      align-items: center;
      min-width: 1px;
      width: 1px;
      flex: 1;
    }
    .duke-logo {
      width: 8rem;
    }
  }
  & #{$root}__content {
    flex: 1;
    max-height: 100%;
    padding: $content-padding;
    color: $content-color;
    font-size: $content-font-size;
    overflow: hidden;

    img {
      max-width:  100%;
    }
    .hidden {
      visibility: hidden;
      transform: translate(100vw);
      list-style: none;
    }
    .visible {
      visibility: visible;
      transform: translate(0%);
      transition: transform 0.4s;
    }
  }
  & #{$root}__footer {
    padding: 1rem;
    height: $footer-height;
    display: flex;
    img {
      max-height: 100%;
    }
    .page-number {
      flex: 1;
      display: flex;
      align-items: flex-end;
      justify-content: flex-end;
      color: white;
    }
  }
}
