.kubernetes-java-developers-2022-slide__content {
  .what-is-kubernetes {
    .hidden {
      display: none;
    }
    .component-diagram {
      display: flex;
      justify-content: center;
    }
    .k8s-icon {
      padding: 10px;
      width: 100px;
    }
  }

}
