$top-bar-height: 52px;
$background-color: #78BCDA;

html{
  div.wrapper {
    // When using SVG Background, don't check Responsive in Illustrator, else image won't resize in IE11
    background: $background-color url('./background.svg') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    min-height: 100%;

    .main {
      display: flex;

      .header {
        padding: 0 16px;
        height: 100%;
        width: 420px;
        @media screen and (max-width: 820px) {
          width: 320px;
        }
        animation: fade-in .5s linear backwards;

        h1 {
          margin: 0;
          padding: 0;
          font-family: 'Oswald';
          font-size: 4rem;
          color: #3C5E6D;
        }
      }

      .content {
        flex: 1;
        height: 100vh;
        box-sizing: border-box;
        overflow: auto;
        padding: 32px;

        .card {
          margin-top: 16px;
        }
      }
    }
    @media screen and (max-width: 640px) {
      div.main {
        display: block;

        .header {
          position: fixed;
          height: $top-bar-height;
          width: 100%;
          min-width: 300px;
          background: $background-color;

          h1 {
            font-size: 2rem;
          }
        }
        .content {
          padding-top: $top-bar-height;
          height: auto;
          overflow: initial;
        }
      }
    }

  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
