
.slide {
  display: flex;
  flex-direction: column;
  padding: 120px 60px;
  font-size: 2rem;

  .title {
    font-size: 3rem;
  }

  .content {
    li {
      margin-top: 30px;
    }
  }

  .hidden {
    visibility: hidden;
    margin-left: 100%;
    list-style: none;
  }

  .visible {
    visibility: visible;
    margin-left: 0;
    transition: margin-left 0.3s;
  }
}
