$box-height: 120px;
$box-width: 432px;

$border-color: #77a8da;
$indexeddb-color: #e44d26;
$indexeddb-background: #ffffff;
$redux-color: #764abc;
$redux-background: #e0d7eb;
$imap-color: #ff2525;
$imap-background: #000000;

$lock-size: 32px;

.slide-storage-model {
  .content {
    display: flex;
    margin-top: 128px;

    .group {
      flex: 1;
      position: relative;
      border: 3px dashed $border-color;
      border-radius: 30px;
      padding: 128px 30px;
      display: flex;
      justify-content: center;

      &:not(:last-child) {
        margin-right: 30px;
      }

      .group-title {
        position: absolute;
        top: 16px;
        left: 16px;
      }

      .box {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 16px;
        height: $box-height;
        line-height: $box-height;
        max-width: $box-width;
        border: 3px solid transparent;
        border-radius: 12px;
        text-align: center;

        &.indexed-db {
          position:relative;
          color: $indexeddb-color;
          background: $indexeddb-background;
          border-color: $indexeddb-color;

          .encrypted {
            position: absolute;
            top: 6px;
            right: 6px;
            width: $lock-size;
            height: $lock-size;
            background: url('./assets/lock-64.png') no-repeat 50% 50%;
            background-size: contain;
          }
        }

        &.redux {
          color: $redux-color;
          background: $redux-background;
          border-color: $redux-color;
        }

        &.imap-server {
          color: $imap-color;
          background: $imap-background;
          border-color: $imap-color;
        }

        img {
          max-height: 60%;
          margin-right: 16px;
        }
      }
    }
  }
}
