$background-image: '../assets/madrid-schweppes-bg.jpg';
$color-highlight: #f6333f;


$color-highlight-alternative: #f6333f;
$color-white: #FAFAFA;
$color-white-lightest: #FFF;
$eclipse-orange: #f79422;

$eclipse-header-height: 90px;
$eclipse-header-padding: 1rem 2rem;
$eclipse-header-color: $color-white-lightest;
$eclipse-header-font-family: 'Oswald', 'Roboto', sans-serif;
$eclipse-header-font-size: 4rem;

$eclipse-content-padding: 1rem 2rem;
$eclipse-content-color: $color-white-lightest;
$eclipse-content-font-size: 2.5rem;

$eclipse-footer-height: 90px;

@mixin eclipse-background($overlay-color: rgba(0, 0, 0, 0.7)) {
  position: relative;
  background: black url($background-image) no-repeat;
  background-size: cover;
  &::before {
    z-index: 0;
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $overlay-color;
  }
  & > * {
    position: relative;
    z-index: 1;
  }
}
