$background-image: '../assets/madrid-schweppes-bg.jpg';
$color-highlight: #f63440;
$color-highlight-alternative: #2285f7;

$color-red: #FF0000;
$color-gray-light: #AAA;
$color-gray: #999;
$color-gray-dark: #666;
$color-gray-darker: #333;
$color-white: #FAFAFA;
$color-white-lightest: #FFF;

$content-font-size: 2.5rem;

@mixin madrid-jug-background($overlay-color: rgba(0, 0, 0, 0.7)) {
  position: relative;
  background: black url($background-image) no-repeat;
  background-size: cover;
  &::before {
    z-index: 0;
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $overlay-color;
  }
  & > * {
    position: relative;
    z-index: 1;
  }
}
