.madrid-jug-2023.interior-slide__content {
  .about-me {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .avatar {
      margin-right: 3rem;
      width: 31rem;
    }
    h2 {
      margin-top: 0;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}
