@import 'variables';

.slide {
  margin: -1px 0 0 0;
  padding: 1px 0 0 0;
  box-sizing: border-box;
  height: 100vh;
  min-height: 100%;
  background: rgb(40,44,52);
  background: radial-gradient(circle, rgba(40,44,52,1) 90%, rgba(37,40,47,1) 100%);
  color: white;
  overflow: hidden;
}
