.eclipsecon-2022-slide__content {
  .remote-development {
    max-height: 100%;
    display: flex;
    .hidden {
      position: absolute;
    }
    .visible {
      transition: none;
      animation: fade-in 2s linear backwards;
    }
    svg {
      animation: fade-in 2s linear backwards;
      flex: 1;
    }
  }
}
