@import './variables';

.eclipse-jkube-2021-cloud-tool-time-slide {
  @import './fonts';
  $root: &;
  padding: 0;
  display: flex;
  flex-direction: column;
  height: 100vh;
  min-height: 100%;
  @include slide-background(rgba(0, 0, 0, 0.7));
  & #{$root}__header {
    display: flex;
    align-items: center;
    padding: $eclipse-header-padding;
    height: $eclipse-header-height;
    color: $eclipse-header-color;
    font-family: $eclipse-header-font-family;
    font-size: $eclipse-header-font-size;
    background-color: $color-highlight;
    .title {
      display: flex;
      align-items: center;
      min-width: 1px;
      width: 1px;
      flex: 1;
    }
  }
  & #{$root}__content {
    flex: 1;
    max-height: 100%;
    padding: $eclipse-content-padding;
    color: $eclipse-content-color;
    font-size: $eclipse-content-font-size;
    overflow: hidden;

    .hidden {
      visibility: hidden;
      transform: translate(100vw);
      list-style: none;
    }
    .visible {
      visibility: visible;
      transform: translate(0%);
      transition: transform 0.4s;
    }
  }
  & #{$root}__footer {
    padding: 1rem;
    height: $eclipse-footer-height;
    display: flex;
    .page-number {
      flex: 1;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      color: white;
    }
    $logo-text-color: rgba(255, 255, 255, 0.85);
    .cloud-tool-time-logo {
      width: 10rem;
      .ecd__label {
        fill: $logo-text-color;
      }
    }
    .jkube-logo {
      width: 10rem;
      .icon {
        fill: $color-highlight-alternative;
      }
      .text {
        fill: $logo-text-color;
      }
    }
  }
}