.eclipse-jkube-2020-bcn-jug-slide__content {
  .roadmap {
    height: 100%;
    display: flex;
    align-items: start;
    justify-content: space-between;

    &__image {
      max-height: 100%;
    }
  }
}