.eclipse-jkube-2020-bcn-jug-slide__content {
  .about-me {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .avatar {
      margin-right: 3rem;
      width: 32rem;
    }
  }
}