.eclipse-jkube-2020-bcn-jug-slide__content {
  .what-is-jkube {
    .hidden {
      display: block;
    }
    .framework-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      .item {
        padding: 2rem;
        height: 5rem;
      }
    }
  }
}