.eclipse-jkube-2020-bcn-jug-slide__content {
  .workflow-container {
    @mixin fade-in-animation {
      animation: fade-in 5s linear backwards;
    }
    height: 100%;
    display: flex;
    flex: 1;
    justify-content: flex-start;
    align-items: center;

    .jkube-logo {
      @include fade-in-animation;
      height: 10rem;
      .text {
        fill: white;
      }
    }
    .jkube-developer-workflow {
      height: 100%;
      font-family: 'Roboto';
      .k8s-text {
        @include fade-in-animation;
      }
    }
  }
}