@import './variables';
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

h1 {
  margin: 1rem 0;
  font-size: 4rem;
}
h2 {
  margin: 1rem 0;
  font-size: 3.5rem;
}
h3 {
  margin: 1rem 0;
  font-size: 3rem;
  font-weight: normal;
}
h4 {
  margin: 1rem 0;
  font-size: 2.5rem;
}
p {
  margin: 0 0 1rem 0;
}
ul {
  margin: 1rem 0;
}

ul {
  $line-height: $eclipse-content-font-size * 1.5;
  position: relative;
  list-style: none;
  margin-left: 0.5em;
  padding-left: 1em;
  line-height: $line-height;

  li:before {
    font-size: $eclipse-content-font-size * 0.5;
    content: '\2b22';
    color: $eclipse-orange;
    position: absolute;
    display: inline-block;
    margin-left: -2em;
    width: 2em;
  }
}

blockquote {
  position: relative;
  font-style: italic;
  margin: 0 auto;
  padding: 1rem;
  color: $eclipse-orange;
  p {
    margin: 0;
    color: white;
    &::before, &::after {
      color: $eclipse-orange;
      content: '“';
      font-size: $eclipse-content-font-size * 3;
      margin: -$eclipse-content-font-size 0 0 (-$eclipse-content-font-size * 1.5);
      position: absolute;
      opacity: 0.8;
    }
    &::after {
      content: '”';
      margin: 0 (-$eclipse-content-font-size * 1.5) 0 0;
    }
  }
  cite {
    font-size: 1.7rem;
  }
}