.eclipse-jkube-introduction-slide__content {
  .about-me {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .avatar {
      margin-right: 3rem;
      width: 26rem;
    }
  }
}