.eclipsecon-2022.interior-slide__content {
  .northwind {
    max-height: 100%;
    display: flex;
    background: #FFFFFF;
    border-radius: 2rem;
    svg {
      margin: 1rem;
      animation: fade-in 2s linear backwards;
      flex: 1;
    }
  }
}
