.slide3 {
  .beer-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: url('./assets/beer-bg.png') no-repeat 50% 50%;

    .ostia-beer {
      animation: fade-in .5s linear backwards;
      flex: 1;
      min-height: 1px;
      background: url('./assets/beer-bottle.png') no-repeat 50% 50%;
      background-size: contain;
    }
  }
}

@keyframes fade-in {
  from { opacity: 0; }
  to   { opacity: 1; }
}
