.slide-summary {
  display: flex;
  flex-direction: column;
  justify-content: center;

  .content {
    flex: 1;
    display: flex;

    .col {
      flex: 1;

      &.image {
        animation: colorize 4s linear infinite;
        background: url('./assets/mockingbird-silhouette.png') no-repeat 50% 50%;
        background-size: contain;
      }

      &.links {
        margin: 128px auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .thank-you {
          flex: 1;
          font-size: 8rem;
        }

        a {
          display: flex;
          align-items: center;
          color: white;
          text-decoration: none;
          vertical-align: middle;

          &:not(:last-child) {
            margin-bottom: 24px;
          }

          img {
            height: 40px;
            margin: 6px 16px 0 0;
          }
        }
      }
    }
  }
}
//saturate(307%) brightness(95%)
@keyframes colorize {
  0% {filter: invert(10%) sepia(20%) }
  50% {filter: invert(10%) sepia(70%)}
  100% {filter: invert(10%) sepia(20%)}
}
